{% load static %}
<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>Email Page | NIV-DAS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/smallicon.png' %}">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli" />

        <style>
            html *
            { 
                font-family: Muli !important;
            }
        </style>

        <!-- preloader css -->
        <link rel="stylesheet" href="{% static 'assets/css/preloader.min.css' %}" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body data-topbar="dark">

    <!-- <body data-layout="horizontal"> -->
        <div class="auth-page">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-xxl-3 col-lg-4 col-md-5">
                        <div class="auth-full-page-content d-flex p-sm-5 p-4">
                            <div class="w-100">
                                <div class="d-flex flex-column h-100">
                                    <div class="mb-4 mb-md-5 text-center">
                                        <!-- <a href="#" class="d-block auth-logo"> -->
                                            <img src="{% static 'assets/images/logo.jpg' %}" alt="" width="150"> <span class="logo-txt"></span>
                                        <!-- </a> -->
                                    </div>
                                    <div class="auth-content my-auto">
                                        <div class="text-center">
                                            <h5 class="mb-0">Reset Password</h5>
                                            <p class="text-muted mt-2">Enter your Email and instructions will be sent to you!</p>
                                        </div>
                                        {% if messages %}
                                            <div class="alert alert-danger alert-dismissible alert-outline fade show" role="alert">
                                                {% for message in messages %}
                                                <strong {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</strong>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        
                                        <form action="{% url 'fpemaildata' %}" method="post" class="needs-validation" novalidate>
                                            {% csrf_token %}

                                            <div class="form-floating form-floating-custom mb-4">
                                                <input type="email" class="form-control" name="Email" id="email" pattern="\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+" placeholder="Enter Email ID" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Looks bad!
                                                </div>
                                                <label for="input-username">Email ID</label>
                                                <div class="form-floating-icon">
                                                   <i data-feather="mail"></i>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Reset</button>
                                            </div>
                                        </form>

                                        <div class="mt-5 text-center">
                                            <p class="text-muted mb-0">Remember It? <a href="{% url 'login' %}" class="text-primary fw-semibold"> Login Now</a> </p>
                                        </div>

                                    </div>

                                    {% include 'form/footer1.html' %}

                                </div>
                            </div>
                        </div>
                        <!-- end auth full page content -->
                    </div>
                    <!-- end col -->
                    <div class="col-xxl-9 col-lg-8 col-md-7">
                        <div class="auth-bg pt-md-5 p-4 d-flex">
                            <div class="col-xl-7">
                                <p>
                                    <br style="line-height: 10%;">
                                    <br style="line-height: 10%;">
                                    <br style="line-height: 10%;">
                                    <br style="line-height: 10%;">
                                    <br style="line-height: 10%;">
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container fluid -->
        </div>


        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
        <!-- pace js -->
        <script src="{% static 'assets/libs/pace-js/pace.min.js' %}"></script>

        <script src="{% static 'assets/js/pages/feather-icon.init.js' %}"></script>

        <!-- form validation -->
        <script src="{% static 'assets/js/pages/form-validation.init.js' %}"></script>
    
        <!-- init js -->
        <script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>
        

    </body>

</html>