{% load static %}

<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Graph | NIV-DAS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/nepl-logo.png' %}">

        <!-- preloader css -->
        <link rel="stylesheet" href="{% static 'css/preloader.min.css' %}" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body data-topbar="dark">

    <!-- <body data-layout="horizontal"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            {% include 'nivdas/sidebar-base.html' %}

            {% include 'nivdas/navbar-base.html' %}
            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- breadcrumb -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Graph</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="{% url 'indexpage' %}">Dashboard</a></li>
                                            <li class="breadcrumb-item"><a href="#">Supervise</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'equipment-list' %}">Equipment List</a></li>
                                            <li class="breadcrumb-item active">Graph</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Chart 1</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="line-chart" data-colors='["#df825f", "#f8956f", "#dfb15b", "#4d446f", "#706695", "#86e3c3", "#fc91d4", "#d0e6a5", "#138086", "#31db92"]' class="e-charts"></div>
                                    </div>
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Chart 2</h4>
                                    </div>
                                        <div class="card-body">
                                            <div class="text-center">
                                            <div style="height: 499px;" id="mix-line-bar" data-colors='["#f8956f", "#dfb15b", "#4d446f", "#706695", "#86e3c3", "#fc91d4", "#d0e6a5", "#138086", "#31db92", "#df825f"]' class="e-charts"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © NIV-DAS.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> .
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->


        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'libs/feather-icons/feather.min.js' %}"></script>
        <!-- pace js -->
        <script src="{% static 'libs/pace-js/pace.min.js' %}"></script>
    
        <script src="{% static 'js/app.js' %}"></script>

        <!-- echarts js -->
        <script src="{% static 'libs/echarts/echarts.min.js' %}"></script>

        <script>
            function getChartColorsArray(e){
                e=$(e).attr("data-colors");
                return(e=JSON.parse(e)).map(function(e){
                    e=e.replace(" ","");
                    if(-1==e.indexOf("--"))return e;
                    e=getComputedStyle(document.documentElement).getPropertyValue(e);return e||void 0
                })
            }
            
            var lineColors=getChartColorsArray("#line-chart"),dom=document.getElementById("line-chart"),myChart=echarts.init(dom),app={};
            option=null,
            width = "400px",
            option = {
                title: {
                    text: 'Title'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['Unit 1', 'Unit 2', 'Unit 3', 'Unit 4', 'Unit 5']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage:{title:"Download Image"}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['Week 1', 'Week 2', 'Week 3', 'Week 4', 'Week 5', 'Week 6', 'Week 7']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: 'Week 1',
                        type: 'line',
                        stack: '',
                        data: [120, 132, 101, 134, 90, 230, 210]
                    },
                    {
                        name: 'Week 2',
                        type: 'line',
                        stack: '',
                        data: [220, 182, 191, 234, 290, 330, 310]
                    },
                    {
                        name: 'Week 3',
                        type: 'line',
                        stack: '',
                        data: [150, 232, 201, 154, 190, 330, 410]
                    },
                    {
                        name: 'Week 4',
                        type: 'line',
                        stack: '',
                        data: [320, 332, 301, 334, 390, 330, 320]
                    },
                    {
                        name: 'Week 5',
                        type: 'line',
                        stack: '',
                        data: [820, 932, 901, 934, 1290, 1330, 1320]
                    }
                ]
            };
            // option={
            //     grid:{zlevel:0,x:50,x2:50,y:30,y2:30,borderWidth:0,backgroundColor:"rgba(0,0,0,0)",borderColor:"rgba(0,0,0,0)"},
            //     xAxis:{
            //         type:"category",
            //         data:["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],
            //         axisLine:{lineStyle:{color:"#858d98"}}
            //     },
            //     yAxis:{
            //         type:"value",
            //         axisLine:{lineStyle:{color:"#858d98"}},
            //         splitLine:{lineStyle:{color:"rgba(133, 141, 152, 0.1)"}}
            //     },
            //     series:[{data:[820,932,901,934,1290,1330,1320],type:"line"}],
            //     color:lineColors
            // },
            option&&"object"==typeof option&&myChart.setOption(option,!0);
        
        </script>

<script>
    function getChartColorsArray(e){
        e=$(e).attr("data-colors");
        return(e=JSON.parse(e)).map(function(e){
            e=e.replace(" ","");
            if(-1==e.indexOf("--"))return e;
            e=getComputedStyle(document.documentElement).getPropertyValue(e);
            return e||void 0
        })
    }
    var mixlinebarColors=getChartColorsArray("#mix-line-bar"),
    dom=document.getElementById("mix-line-bar"),
    myChart=echarts.init(dom);
    option=null,(app={}).title="Data view",
    option={
        grid:{zlevel:0,x:80,x2:50,y:30,y2:30,borderWidth:0,backgroundColor:"rgba(0,0,0,0)",borderColor:"rgba(0,0,0,0)"},
        tooltip:{trigger:"axis",axisPointer:{type:"cross",crossStyle:{color:"#999"}}},
        toolbox:{
            orient:"center",
            left:0,
            top:20,
            feature:{
                // dataView:{readOnly:!1,title:"Data View"},
                magicType:{type:["line","bar"],title:{line:"For line chart",bar:"For bar chart"}},
                restore:{title:"restore"},
                saveAsImage:{title:"Download Image"}
            }
        },
        color:mixlinebarColors,
        legend:{data:["Device 1","Device 2","Device 3"],
        textStyle:{color:"#858d98"}},
        xAxis:[{
            type:"category",
            data:["Sun","Mon","Tues","Wed","Thurs","Fri","Sat"],
            axisPointer:{type:"shadow"},
            axisLine:{lineStyle:{color:"#858d98"}}
        }],
        yAxis:[
            {
                type:"value",
                name:"",
                min:0,
                max:100,
                interval:25,
                axisLine:{lineStyle:{color:"#858d98"}},
                splitLine:{lineStyle:{color:"rgba(133, 141, 152, 0.1)"}},
                axisLabel:{formatter:"{value}"}
            }
            ,
            {
                type:"",
                name:"",
                min:0,
                max:100,
                interval:25,
                axisLine:{lineStyle:{color:"#858d98"}},
                splitLine:{lineStyle:{color:"rgba(133, 141, 152, 0.1)"}},
                axisLabel:{formatter:""}
            }
        ],
        series:[
            {name:"Device 1",type:"bar",data:[32,29,27,45,30,21,48]},
            {name:"Device 2",type:"line",data:[88,63,58,61,53,57,77]},
            {name:"Device 3",type:"bar",yAxisIndex:1,data:[24,54,32,42,38,17,28]}
        ]
    },option&&"object"==typeof option&&myChart.setOption(option,!0);

</script>


    </body>
</html>













<!-- 
            tooltip:{trigger:"axis",axisPointer:{type:"cross",crossStyle:{color:"#999"}}},
            toolbox:{
                orient:"center",
                left:0,
                top:20,
                feature:{
                    // dataView:{readOnly:!1,title:"Data View"},
                    magicType:{type:["line","bar"],title:{line:"For line chart",bar:"For bar chart"}},
                    restore:{title:"restore"},
                    saveAsImage:{title:"Download Image"}
                }
            },
 -->



