{% load static %}

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Muli" />

<style>
    html *
    {
        font-family: Muli !important;
    }
</style>

<header id="page-topbar">
    <div class="navbar-header">

        <div class="d-flex">
            <div style="width: 68px;" id="menu-div">
                <button type="button" style="float: right;" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn">
                    <i data-feather="align-justify"></i>
                </button>
            </div>
            
            <!-- LOGO -->
            <div class="navbar-brand-box" style="width: 178px;">

                <a href="{% url 'indexpage' %}" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static 'images/nepl-logo.png' %}" alt="" height="40">  <!-- style="margin-left: -11px;" -->
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'images/nepl-logo.png' %}" alt="" height="40"> <span class="logo-txt">NIV-DAS</span>
                    </span>
                </a> 

                <a href="{% url 'indexpage' %}" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static 'images/nepl-logo.png' %}" alt="" height="40" >
                    </span>
                    <span class="logo-lg">
                        <img src="{% static 'images/nepl-logo.png' %}" alt="" height="40"> <span class="logo-txt">NIV-DAS</span>
                    </span>
                </a>
            </div>
        </div>

        <!-- <script>
            $('#vertical-menu-btn').on('click', function() {
                alert('button clicked')
                if (document.getElementsByTagName("BODY")[0].getAttribute('data-sidebar-size') == 'sm') {
                    alert('sm clicked')
                    document.getElementById('menu-div').style.width = '68px'
                }
                else {
                    alert('lg clicked')
                    document.getElementById('menu-div').style.width = '88px'
                }
            })
        </script> -->

        <div class="d-flex">

            <!-- <div class="dropdown d-inline-block d-lg-none ms-2">
                <button type="button" class="btn header-item" id="page-header-search-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i data-feather="search" class="icon-lg"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-search-dropdown">

                    <form class="p-3">
                        <div class="form-group m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ..." aria-label="Search Result">

                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> -->

            <div class="dropdown d-none d-sm-inline-block">
                <button type="button" class="btn header-item" onclick="themeToggle()" id="mode-setting-btn">
                    <i data-feather="moon" class="icon-lg layout-mode-dark"></i>
                    <i data-feather="sun" class="icon-lg layout-mode-light"></i>
                </button>
            </div>

            &nbsp; &nbsp;

            <div class="dropdown d-inline-block"><br>
                <div class="d-none d-xl-inline-block ms-1 fw-medium" style="color: white;">Login Time : </div><br>
                <div class="d-none d-xl-inline-block ms-1 fw-medium" style="color: white;">Last Data Backup : </div>
            </div>

            &nbsp; &nbsp; &nbsp; &nbsp;

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item bg-soft-light border-start border-end" id="page-header-user-dropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-none d-xl-inline-block ms-1 fw-medium">{{user.username}}</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="/"><i class="mdi mdi-logout font-size-16 align-middle me-1"></i> Logout</a>
                </div>
            </div>

        </div>
    </div>
</header>