<html>
    <head>
        <style>
            @page {
                size: letter portrait;
                @frame header_frame {           /* Static frame */
                    -pdf-frame-content: header_content;
                    left: 50pt; width: 512pt; top: 50pt; height: 50pt;
                }
                @frame col1_frame {             /* Content frame 1 */
                    -pdf-frame-content: body_content1;
                    left: 44pt; width: 245pt; top: 100pt; height: 50pt;
                }
                @frame col2_frame {             /* Content frame 2 */
                    -pdf-frame-content: body_content2;
                    left: 323pt; width: 245pt; top: 100pt; height: 50pt;
                }
                @frame content_frame {           /* Content Frame */
                    -pdf-frame-content: body_content3;
                    left: 50pt; width: 512pt; top: 150pt; height: 572pt;
                }
                @frame footer_frame {           /* Static frame */
                    -pdf-frame-content: footer_content;
                    left: 50pt; width: 512pt; top: 772pt; height: 20pt;
                }
            }
        </style>
    </head>
    <body>
        <div id="header_content">
            Nihaar Equipment Private Limited <br> 117/CD, Kandivli Co-Op Indl.Est.Ltd, Near Hindustan Naka, Charkop, Kandivli (W), Mumbai - 400 067, India. 
            
            <br><br> <hr>    
        </div>
        <hr>

        <div id="footer_content">Nihaar Equipment Private Limited NIV-DAS 2.0 (Web) 24/02/2022 12:32 (User:admin)  Page <pdf:pagenumber>
            of <pdf:pagecount>
        </div>
        
    
        <div id="body_content1">
            <br>
            <strong>User Audit Log Report</strong> 
            <br><br>
            From Date : {{Date}} 
        </div>
        <div id="body_content2">
            <br><br><br>
            To Date : {{Date}} 
        </div>

        <div id="body_content3">
            <table cellpadding="4" border="1" class="table table-bordered border-success mb-0">
                                
                <thead>
                    <tr>
                        <th><strong>Username</strong></th>
                        <th><strong>Date</strong></th>
                        <th><strong>Time</strong></th>
                        <th><strong>Log Status</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>15:58</td>
                        <td>Logged in from IP: 192.168.1.114</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>05:23</td>
                        <td>Logged in from IP: 192.168.1.14</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>16:34</td>
                        <td>Equipment 'SMART OVEN' Deactivated Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>08/02/2022</td>
                        <td>17:58</td>
                        <td>New Equipment 'Cooling Chamber' Added Successfully</td>
                    </tr>
                    <tr>
                        <td>admin</td>
                        <td>07/02/2022</td>
                        <td>20:00</td>
                        <td>Equipment 'Cooling Chamber' Activated Successfully</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>