{% load static %}

<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Print Multiple Reports | NIV-DAS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/nepl-logo.png' %}">

        <!-- preloader css -->
        <link rel="stylesheet" href="{% static 'css/preloader.min.css' %}" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body data-topbar="dark" data-sidebar-size="lg">

    <!-- <body data-layout="horizontal"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            {% include 'nivdas/sidebar-base.html' %}

            {% include 'nivdas/navbar-base.html' %}
            

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">


                <div class="page-content">
                    <div class="container-fluid">
                        <!-- breadcrumb -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Print Multiple Reports</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="{% url 'indexpage' %}">Dashboard</a></li>
                                            <li class="breadcrumb-item"><a href="#">Tools/Utility</a></li>
                                            <li class="breadcrumb-item active">Print Multiple Reports</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <form class="needs-validation" novalidate>

                                    <div class="row">
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="validationCustom11" class="form-label">
                                                    From : <span style="color: red;"> *</span>
                                                </label>
                                                <div class="input-daterange input-group"
                                                    data-provide="datepicker">
                                                    <input type="date" onkeydown=false class="form-control"
                                                        name="Min" id="min" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Looks bad!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="validationCustom11" class="form-label">
                                                    To : <span style="color: red;"> *</span>
                                                </label>
                                                <div class="input-daterange input-group"
                                                    data-provide="datepicker">
                                                    <input type="date" onkeydown=false class="form-control"
                                                        name="Max" id="max" required>
                                                    <div class="valid-feedback">
                                                        Looks good!
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        Looks bad!
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="validationCustom11" class="form-label">
                                                    Instrument Name <span style="color: red;"> *</span>
                                                </label>
                                                <select class="form-control" id="instrument-name" name="Instrument-name" required>
                                                    <option selected disabled value="">-- Select Option --</option>
                                                    <option>Data (Jinja code)</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    Looks Good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Looks Bad!
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-4 col-md-6">
                                            <div class="form-group mb-3">
                                                <label for="validationCustom11" class="form-label">
                                                    Username <span style="color: red;"> *</span>
                                                </label>
                                                <select class="form-control" id="username" name="Username" required>
                                                    <option selected disabled value="">-- Select Option --</option>
                                                    <option>Data (Jinja code)</option>
                                                </select>
                                                <div class="valid-feedback">
                                                    Looks Good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Looks Bad!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-xl-2 col-md-6">
                                            <div class="form-check font-size-16">
                                                <input class="form-check-input" type="checkbox" name="DataLog"
                                                    value="Data Log" id="dataLog">
                                                <label class="form-check-label" for="admincheck03">
                                                    Data Log
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-md-6">
                                            <div class="form-check font-size-16">
                                                <input class="form-check-input" type="checkbox" name="AlarmLog"
                                                    value="Alarm Log" id="alarmLog">
                                                <label class="form-check-label" for="admincheck03">
                                                    Alarm Log
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-md-6">
                                            <div class="form-check font-size-16">
                                                <input class="form-check-input" type="checkbox" name="DataLogGraph"
                                                    value="Data Log Graph" id="dataLogGraph">
                                                <label class="form-check-label" for="admincheck03">
                                                    Data Log Graph
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-md-6">
                                            <div class="form-check font-size-16">
                                                <input class="form-check-input" type="checkbox" name="AlarmAudit"
                                                    value="Alarm Audit Trail" id="alarmAudit">
                                                <label class="form-check-label" for="admincheck03">
                                                    Alarm Audit Trail
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-md-6">
                                            <div class="form-check font-size-16">
                                                <input class="form-check-input" type="checkbox" name="SMSAudit"
                                                    value="SMS Audit Trail" id="smsAudit">
                                                <label class="form-check-label" for="admincheck03">
                                                    SMS Audit Trail
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-md-6">
                                            <div class="form-check font-size-16">
                                                <input class="form-check-input" type="checkbox" name="UserAudit"
                                                    value="Alarm Audit Trail" id="userAudit">
                                                <label class="form-check-label" for="admincheck03">
                                                    User Audit Trail
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>

                                    <div class="row justify-content-end">
                                        <div class="col-lg-12">
                                            <div style="float: right;">
                                                <button class="btn btn-primary waves-effect waves-light" type="submit">Print</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © NIV-DAS.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> .
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->


        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'libs/feather-icons/feather.min.js' %}"></script>
        <!-- pace js -->
        <script src="{% static 'libs/pace-js/pace.min.js' %}"></script>
    
        <script src="{% static 'js/app.js' %}"></script>
    
        <!-- form validation -->
        <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

        <script>
            $('#vertical-menu-btn').on('click', function() {
                if (document.getElementsByTagName("BODY")[0].getAttribute('data-sidebar-size') == 'sm') {
                    document.getElementById('menu-div').style.width = '68px'
                }
                else {
                    document.getElementById('menu-div').style.width = '88px'
                }
            })
        </script>


    </body>
</html>
