{% load static %}

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">

            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="users"></i>
                        <span data-key="t-ecommerce">Admin</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        {% if ap.user_management == True or usr.user_management == True %}
                        <li><a href="register" data-key="t-products">User Management</a></li>
                        {% endif %}
                        {% if ap.group_security == True or usr.group_security == True%}
                        <li><a href="group_security" data-key="t-product-detail">Group Security</a></li>
                        {% endif %}
                        {% if ap.user_security == True or usr.user_security == True%}
                        <li><a href="user_security" data-key="t-orders">User Security</a></li>
                        {% endif %}
                        {% if ap.mail_settings == True or usr.mail_settings == True%}
                        <li><a href="Emailsettings" data-key="t-customers">Mail Settings</a></li>
                        {% endif %}
                        {% if ap.sms_settings == True or usr.sms_settings == True%}
                        <li><a href="SMSsettings" data-key="t-cart">SMS Settings</a></li>
                        {% endif %}
                        {% if ap.master_password_settings == True or usr.master_password_settings == True%}
                        <li><a href="Emailsettings" data-key="t-checkout">Email Settings</a></li>
                        {% endif %}
                        {% if ap.database_settings == True or usr.database_settings == True%}
                        <li><a href="database_settings" data-key="t-checkout">Database Settings</a></li>
                        {% endif %}
                        {% if ap.master_password_settings == True or usr.master_password_settings == True%}
                        <li><a href="master_settings" data-key="t-checkout">Master Password Settings</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="settings"></i>
                        <span data-key="t-ecommerce">Master Settings</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        {% if ms.equipment_creation == True or usr.sms_settings == True%}
                        <li><a href="create_equipment" data-key="t-products">Equipment Creation</a></li>
                        {% endif %}
                        {% if ms.equipment_parameter == True or usr.sms_settings == True%}
                        <li><a href="eqp_parameter" data-key="t-product-detail">Equipment Parameter</a></li>
                        {% endif %}
                        {% if ms.equipment_activation == True or usr.sms_settings == True%}
                        <li><a href="eqp_activation" data-key="t-orders">Equipment Activation</a></li>
                        {% endif %}
                        {% if ms.template == True or usr.sms_settings == True%}
                        <li><a href="#" data-key="t-customers">Template</a></li>
                        {% endif %}
                        {% if ms.mobile_number == True or usr.sms_settings == True%}
                        <li><a href="#" data-key="t-cart">Mobile Number</a></li>
                        {% endif %}
                        {% if ms.master_template == True or usr.sms_settings == True%}
                        <li><a href="#" data-key="t-checkout">Master Template</a></li>
                        {% endif %}
                        {% if ms.sync_date_time == True or usr.sms_settings == True%}
                        <li><a href="#" data-key="t-shops">Synchronize Date Time</a></li>
                        {% endif %}
                        {% if ms.reset_lux == True or usr.sms_settings == True %}
                        <li><a href="#" data-key="t-add-product">Reset Lux UV</a></li>
                        {% endif %}
                        {% if ms.iostatus == True or usr.sms_settings == True %}
                        <li><a href="#" data-key="t-add-product">Input Output Status</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                         <i data-feather="user-check"></i>
                        <span data-key="t-ecommerce">Supervise</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        {% if sp.equipment_list == True or usr.sms_settings == True %}
                        <li><a href="#" data-key="t-products">Equipment List</a></li>
                        {% endif %}
                        {% if sp.data_view == True or usr.sms_settings == True %}
                        <li><a href="#" data-key="t-product-detail">Dat View</a></li>
                        {% endif %}
                        {% if sp.lux_data_view == True or usr.sms_settings == True %}
                        <li><a href="#" data-key="t-orders">Lux Data View</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="activity"></i>
                        <span data-key="t-ecommerce">History</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        {% if hi.data_report == True or usr.sms_settings == True %}
                        <li><a href="his_rep" data-key="t-products">Data Report/Graph</a></li>
                        {% endif %}
                        {% if hi.lux_data_view == True or usr.sms_settings == True %}
                        <li><a href="#" data-key="t-product-detail">Lux UV Data View</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <span data-key="t-ecommerce">Help</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        {% if he.about_us == True or usr.sms_settings == True%}
                        <li><a href="his_rep" data-key="t-products">About Us</a></li>
                        {% endif %}
                        {% if he.help == True or usr.sms_settings == True%}
                        <li><a href="#" data-key="t-product-detail">Help</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>